.main {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #e8eaed;
    background: #999999;
    max-width: 700px;
    margin: 30px auto;
    margin-bottom: 2px;
    padding: 20px;
    padding-bottom: 2px;
    border: 2px solid gray;
    border-radius: 5px;
}
ul {
    list-style: none;
}
li {
    text-transform: capitalize;
}
.side{
    display: block;
    padding-bottom: 0;
    padding-top: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    max-width: 250px;
    box-shadow: 3px 3px 3px black;
    position: relative;
    right: -70px;
    top: -75px;
}
.col-sm-2 {
    list-style: none;
    padding: 10px;
}
.col-sm-3{
    position:relative;
    left: -75px;
    bottom: 3px;
}
.main .city {
    font-size: 30px;
    font-weight: 800;
}
.main .link1 {
    vertical-align: super;
    font-size: 18px;
    position: relative;
    top: -20px;
    left: -30px;
    color: #e8eaed;
    text-decoration: none;
    padding-left: 0;
    margin: 0;
}
.link1:hover {
    color:blue;
    text-decoration:underline;
}
.main .link2 {
    vertical-align: super;
    font-size: 18px;
    color: #e8eaed;
    text-decoration: none;
    position: relative;
    top: -20px;
    left: -30px;
    padding-left: 0;
    margin: 0;
}
.link2:hover {
    color:blue;
    text-decoration:underline;
}
.shift{
    position: relative;
    right: -20px;
}
.move{
    position: relative;
    right: -10px;
}
.main .description {
    display:block;
    padding: 50px;
    font-size: 19px;
    padding-top: -200px;
    margin: 20px auto;
    position: relative;
    right: -200px;
}
.main .temp {
    padding: 1px;
    font-size: 48px;
    color: #fbfcf8;
    position: relative;
    left: -30px;
}
.main .icon1 {
    position: relative;
    top:-12px;
    left: -20px;
    width: 60px;
}
.codeDetails {
    text-align: center;
}
.codeText {
    text-align: center;
    color: black;
}
.textDescription {
    display: block;
    padding-left: 260px;
    padding-top: 1px;
    font-family: monospace;  
}
.card {
    width: 500px;
    fill: none;
    background: transparent;
    background-color: transparent;
    border: none;
    margin-bottom: 16px;
    position:relative;
    bottom: -1px;
}
